@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins-Regular.ttf'); 
}
@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins-Bold.ttf'); 
}
@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins-Medium.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular;
}

.user-picture {
	margin-left: auto;
 	margin-right: auto;
	border-radius: 50%;
	width: 45%;
	box-shadow: 0 10px 14px 0 rgba(0, 0, 0, .10);
}

.user-title {
	align-items: center;
	font-family: Poppins-Medium;
	font-size: 20px;
	padding: 10px 0 10px 0;
	border: none;
	border-bottom: 1px solid;
	width: 35%;
}

.btn-logout {
	position: absolute;
	bottom: 0px;
	border: none;
	background-color: #fdfdfd;
	cursor: pointer;
	font-family: Poppins-Regular;
	font-size: 20px;
	padding: 4px 0 4px 0;
	width: 98%;
	border-top: 1px solid;
}

.users-title {
	margin: 2px 0 0 0;
	padding: 2px 0 2px 0;
	font-family: Poppins-Regular;
	font-size: 20px;
	border-bottom: 1px solid;
	width: 100%;
}

.user-line {
	display: flex;
	width: 100%;
}

.user-stat {
	margin-left: 10px;
}

.status {
    border-radius: 50%;
    height: 6px;
    margin: auto;
    width: 6px;
    margin-right: 5px;
}

.tr {
	background: #42b72a;
}

.fa {
	background: #ff0606;
}

.container {
  margin: 0 auto;
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;  
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
}

.user-container {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 8px 4px 8px 4px;
	border-right: 1px solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 30%;
	height: 100vh;
	background-color: #fdfdfd;
}

.side-menu{
	position: absolute;
	width: 300px;
	height: 100vh;
	background-color: #fdfdfd;
	left: -300px;
	transition: .5s;
	padding: 8px 4px 8px 4px;
	border-right: 1px solid;
	display: flex;
	align-content: center;
	flex-direction: column;
	text-align: center;
}
.user-title-menu {
	left: 50%;
	padding: 2px 0 2px 0;
	font-family: Poppins-Regular;
	font-size: 20px;
	border-bottom: 5px solid;
	width: 100%;}

.side-menu.active {
	left: 0px;
}

.menu-users {
	overflow: auto;
	margin-bottom: 40px;
}

.menu-exit {
	position: absolute;
	top: 4px;
	right: 4px;
	border: none;
	background-color: #fdfdfd;
	font-family: Poppins-Regular;
	font-size: 20px;
	text-transform: uppercase;
	width: 10%;
	cursor:pointer;
}

.nav-back{
	position: fixed;
	align-items: center;
    border-bottom: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .10);
    display: flex;
    height: 60px;
    width: 70%;
    justify-content: center;
    padding-left: 16px;
    background-color: #d82c2e;
}

.btn-exit {
	position: absolute;
	right: 10px;
	height: 100%;
	border: none;
	background-color: #fdfdfd;
	font-family: Poppins-Regular;
	font-size: 20px;
	text-transform: uppercase;
	width: 10%;
	cursor:pointer;
}

.btn-user {
	position: absolute;
	left: 10px;
	cursor:pointer;
	z-index: 2;
}
.btn-user span {
	display: none;
	background: #000;
	margin-top: 4px;
	width: 25px;
	height: 3px;
}

.message-container {
	border-right: 1px solid;
	text-align: center;
	border-left: 1px solid;
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.users-container {
	border-left: 1px solid;
	padding: 60px 0 0 0;
	text-align: center;
	width: 20%;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	display: flex;
    background-color: #fdfdfd;
}

.list-users {
	overflow: auto;
}

.list {
	position: static;
	margin: 60px 0px 70px 0px;
	overflow: auto;
}
.input-chat {
	position: absolute;
	bottom: 5px;
	background-color: #cee3e8;
    border-radius: 18px;
    display: flex;
    margin: 8px 8px 8px 8px;
   	width: 49%;
    padding: 0px 12px 0 12px;
    height: 40px;
}

.input {
	outline: none;
	border: none;
	background-color: #cee3e8;
	font-family: Poppins-Regular;
	width: 90%;
	height: 40px;
}

.btn-chat {
	position: absolute;
	right: 10px;
	height: 100%;
	border: none;
	background-color: #cee3e8;
	font-family: Poppins-Bold;
	text-transform: uppercase;
	width: 10%;
	cursor:pointer;
}

.bubble{
	text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    /*Works only in chrome*/
    word-break: break-word;
    overflow-wrap: break-word;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
 	background-color: #65e3fe;
    float: left;   
    margin: 5px 320px 5px 20px;         
}

.me::before {
 	background-color: #65e3fe;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
	background-color: #cc62ff;
    float: right;    
    margin: 5px 20px 5px 320px;         
}

.you::before {
	background-color: #cc62ff;
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

@media only screen and (max-width: 600px) {
	.btn-user span {
		display: block;
	}
	.me {
		margin: 5px 225px 5px 20px;
	}
	.you {
		margin: 5px 20px 5px 225px;  
	}
  .input-chat {
  	width: 97%;
  }
  .user-container {
  	display: none
  }
  .users-container {
  	display: none;
  }
  .message-container {
  	width: 100%;
  }
  .nav-back {
  	width: 100%;
  }
}

